{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="text-center">
        <h1>frinch update scripts</h1>
    </div>
    <div class="row">
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th>#</th>
            <th>Creation Date</th>
            <th>User</th>
            <th>Comment</th>
            <th>Filename</th>
            <th>Type</th>
            <th>Status</th>
            <th>Session</th>
            <th>Serial Number</th>
        </tr>
        </thead>
        {% for script in scripts %}
            <tbody>
            <tr>
                <th scope="row">{{ script.id }}</th>
                <td>{{ script.getCreationDate().format('Y-m-d') }}</td>
                <td>{{ script.user }}</td>
                <td>{{ script.comment }}</td>
                <td>{{ script.filename }}</td>
                <td>{{ script.type }}</td>
                <td>{{ script.status }}</td>
                <td>{{ script.session }}</td>
                <td>{{ script.getSerialNumber() }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}