<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Journey to the Center of Symfony!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/main.css'|asset_version) }}"/>

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                Tasko
            </a>
        </div>
        <div class="navbar-right">
                {% if is_granted('ROLE_USER') %}
                    {{ app.user.email }}<a class="navbar-brand" href="{{ path('security_logout') }}"><span class="fa fa-lock"/>&nbsp;Logout</a>
                {% else %}
                    <!--<a class="navbar-brand" href="{{ path('security_login') }}"><span class="fa fa-unlock">Login</span></a>-->
                {% endif %}

        </div>
    </div>
</nav>

{% block body %}{% endblock %}

<div class="navbar-inverse navbar-static-bottom" role="navigation">
    <div class="container">
        <div class="navbar-text">
            <p>Gulp for Symfony!</p>
        </div>
        <div class="navbar-text navbar-right">
            <p><a href="#" class="navbar-link">CS MAX GmbH</a></p>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('js/site.js'|asset_version) }}"></script>
{% endblock %}
</body>
</html>
